@{ ViewData["title"] = "Home Page"; }
<div class="text-center">
    <h1 class="display-4"> Xin chào đến với BeesNet</h1>
    <div class="m-5">

    </div>
    <h2>
        <a href="/swagger">
            Explore Apis
        </a>
    </h2>
    <h2>
        <a href="/.well-known/openid-configuration">
            openId configuration
        </a>
    </h2>
    <h2>
        <a href="https://admin.beesvi.website"  target="_blank" rel="noopener">
            Admin App - BeesNet
        </a>
    </h2>
    <h2>
        <a href="https://bee.beesvi.website"  target="_blank" rel="noopener">
            KanBan App - BeesNet
        </a>
    </h2>
</div>